{% include "header.html" %}
<div id="content">
<h3>{{ title }}</h3>
{% for p in content %}
  <p>{{ p }}</p>
{% end %}
</div>
<div id="related">
<h3>Related Articles</h3>
<ul>
  {% for r in related %}
    <li><a href="display?docid={{ r['id'] }}">{{ r['title'] }}</a></li>
  {% end %}
</ul>
{% if show_location == True %}
  <h3>Locations</h3>
  <img src="http://maps.googleapis.com/maps/api/staticmap?size=400x400{{ maploc }}&sensor=false" alt="location of this news item" />
  <br />
  {% for i in range(len(loc_letter)) %}
    {{ loc_letter[i] }} = {{ loc_name[i] }}, 
  {% end %}
{% end %}
<h3>Tags</h3>
{{ tagcloud }}
</div>

{% include "footer.html" %}