<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Pirate search!</title>

<script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/search.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
<div id="header">
<h1>Pirate Search!</h1>
</div>
<div class="navigation">
<form name="myForm" action="/search" method="post">

<ul>
<li><a href="/">Home</a></li>
<li> &nbsp; Search: <input type="text" name="query" /></li>
</ul>

<input type="hidden" name="number" value="10" />
<input type="hidden" name="field" value="content" />
<input type="hidden" name="scoring" value="Cosine" />
</form>
</div>
