{% include "header.html" %}

<form name="myForm" action="/search" method="post">
    Query:<input type="text" name="query"/> <br /><br />
  <div class="advanced">
    Results        :<select name="number">
                       <option>1</option>
                       <option selected="selected">10</option>                       
                       <option>100</option>
                       <option>1000</option>
                    </select> <br /><br />
    Field          :<select name="field">
                       <option>title</option>
                       <option selected="selected">content</option>                       
                    </select> <br /> <br />        
    Scoring        :<select name="scoring">
                       <option>BM25F</option>
                       <option selected="selected">Cosine</option>
                       <option>PL2</option>
                       <option>Frequency</option>
                       <option>TF_IDF</option>
                    </select> <br /><br />
    </div>
    <input type="submit" value="Search!" />
</form> 
<a href="" id="show_advanced">Show advanced options</a>
<div class="advanced">
    <h1>OR  <br /></h1> 

<form name="myForm2" action="/lexdisplay" method="post">
    <h1>See full lexicon  <br /></h1> 
    Field          :<select name="field">
                       <option>title</option>
                       <option>content</option>                       
                    </select> <br /> <br />        
 
    <input type="submit" value="go"/>
</form> 
    <h1>OR  <br /></h1> 
<form name="myForm2" action="/index" method="post">
    <h1>Reindex - <font color="red"> takes about three minutes! </font><br /></h1> 
    Stemming          :<select name="stemming">
                       <option>yes</option>
                       <option>no</option>                       
                    </select> <br /> <br />        
                    <br />

    Stop words        :<textarea name="stopwords" cols=40 rows = 10> </textarea>
                    <br />
 
    <input type="submit" value="Run indexing"/>
</form> 
</div>
{% include "footer.html" %}